.align{
    display:flex; 
    flex-direction:row;  

}

.loginForm{
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: lightgrey;
    border: 1px solid black;
    padding-bottom: 10px;
    padding-right: 70px;
}

h1{
    text-align: center;
}

form{
    padding-left: 20px;
}

.addEmployee{
    margin-left: 30%;
}

table {
    border-collapse: collapse;
}

td {
    height:25px;
    padding:5px
  
}